    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#hero">
                <i class="fas fa-code"></i> <span id="nav-name">Rafael Guzmán</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">{{nav_about}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#skills">{{nav_skills}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience">{{nav_experience}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#education">{{nav_education}}</a></li>

                    <li class="nav-item"><a class="nav-link" href="#certifications">{{nav_certifications}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">{{nav_contact}}</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-globe me-1"></i><span id="current-lang">EN</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <li><a class="dropdown-item" href="#" data-lang="es">{{lang_es}}</a></li>
                            <li><a class="dropdown-item" href="#" data-lang="en">{{lang_en}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>